<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Travel Origin and Destination</title>
</head>
<div class = 'title'>
    <h1>
        With our website, you can find your route for your road trip or explore where you wanna go!
    </h1>
</div>
<body>
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading" align="left">
				<h2>
					<form action="/route">
						Know where you wanna go? <br>
						<input class="btn btn-primary" type="submit" name="Find Route"><br>
          </form>
        </h2>
      </div>
      <div class="panel-heading" align='left'>
        <h2>
          <form action="/explore">
            You are still exploring where to go? We got you! <br>
				  	<input class="btn btn-primary" type="submit" value="Explore">
          </form>
				</h2>
      </div>
		</div>
	</div>
</body>